*{
    margin: 0;
    padding: 0;
}

.logo img {
    width: 80px;
    height: 70px;
    margin-top: 7px;
}
.awais a{
    text-decoration: none;
    margin: 15px;
    padding: 10px;
    color: black;
    font-size: large;
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    border-width: 2px;
}
/* .awx */
a:hover{
    background-color: black;
    color: white;
    border-color: palegreen;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.a{
    margin-left: 1300px;
    margin-top: -56px;
}
.a button{
    margin-top: -5px;
    margin-right: 10px;
   background-color: rgb(157, 158, 158);;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 12px 30px;
}
.a button:hover{
    background-color: black;
    color: white;
    border-color: palegreen;
}
.nb{
    background-color: rgb(157, 158, 158);
    height: 100px;  
    width: 100%;       
}
.banner img{
    width: 100%;
    height: 500px;
    margin-top: 100px;
}
.anas h1{
    font-size: 70px;
  text-align: center; 
  color: blue; 
}
.c{
    border: 2px solid black;
    height: 460px;
    width: 290px !important;
    margin: 20px;
    padding: 9px;
}
.c b{
    color: blue;
    margin-left: 120px;
}
.c img{
    width: 300px;
}
.d{
    border: 2px solid black;
    height: 460px;
    width: 290px !important;
    margin: 20px;
    padding: 9px;
}
.d b{
    color: blue;
    margin-left: 120px;
}
.d img{
    width: 300px;
    height: 320px;
}
.e{
    border: 2px solid black;
    height: 460px;
    width: 290px !important;
    margin: 20px;
    padding: 9px;
}
.e b{
    color: blue;
    margin-left: 120px;
}
.e img{
    width: 300px;
}
.f{
    border: 2px solid black;
    height: 460px;
    width: 290px !important;
    margin: 20px;
    padding: 9px;
}
.f img{
    width: 300px;
    height: 320px;
}
.f b{
    color: blue;
    margin-left: 120px;
}
.op{
    border: 2px solid black;
    height: 460px;
    width: 290px !important;
    margin: 20px;
    padding: 9px;
}
.op img{
    width: 300px;
    height: 320px; 
}
.op b{
    color: blue;
    margin-left: 120px;
}
.h{
    border: 2px solid black;
    height: 460px;
    width: 290px !important;
    margin: 20px;
    padding: 9px;
}
.h img{
    width: 300px;
    height: 320px;
}
.h b{
    color: blue;
    margin-left: 120px;
}
.i{
    border: 2px solid black;
    height: 460px;
    width: 290px !important;
    margin: 20px;
    padding: 9px;
}
.i img{
    width: 300px;
    height: 320px;
}
.i b{
    color: blue;
    margin-left: 120px;
}
.j{
    border: 2px solid black;
    height: 460px;
    width: 290px !important;
    margin: 20px;
    padding: 9px;
}
.j img{
    width: 300px;
    height: 300px;
    margin-top: 15px;
}
.j b{
    color: blue;
    margin-left: 120px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.g{
    flex-wrap: wrap;
    display: flex;
}
.ak{
    background-color: black;
    width: 100%px;
    height: 400px;
    border-radius: 50px 50px 10px 10px;
    color: white;
}
.ak h1{
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}
.ak h3{
    text-align: center;
    font-style: inherit;
    font-size: 30px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.icons a img{
   width: 70px;
   margin-left: 30px;
   cursor: pointer;
}
/* .circle a img{
    margin-right: 200px;
} */
/* .cv a img{
    width: 70px;
    height: 70px;
    margin-top: -110px;
    margin-left: 200px;
} */

.rr{
    margin-right: 27px;
}
.zzz{
    display:inline-block;
    margin-top: 28px;
    /* margin-left: 20px; */
}
.rahil{
    margin-left: 20px;
    margin-top: 15px;
}
.ic{
    position: fixed;
}

@media (max-width:400px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    .logo img {
        width: 100%;
        height: 70px;
        margin-top: 7px;
    }
    .awais a{
        text-decoration: none;
        margin: 15px;
        padding: 10px;
        color: black;
        font-size: large;
        width: 100%;
        border: 2px solid black;
        border-radius: 10px;
        border-width: 2px;
    }
    /* .awx */
    a:hover{
        background-color: black;
        color: white;
        border-color: palegreen;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
    .a{
        /* margin-left: 1300px;
        margin-top: -56px; */
    }
    .a button{
        margin-top: -5px;
        /* margin-right: 10px; */
       background-color: rgb(157, 158, 158);;
        color: black;
        border: 2px solid black;
        border-radius: 10px;
        /* padding: 12px 30px; */
    }
    .a button:hover{
        background-color: black;
        color: white;
        border-color: palegreen;
    }
    .nb{
        background-color: rgb(157, 158, 158);
        height: 100px;  
        width: 100%;       
    }
    .banner img{
        width: 100%;
        height: 500px;
        margin-top: 100px;
    }
    .anas h1{
        font-size: 70px;
      text-align: center; 
      color: blue; 
    }
    .c{
        border: 2px solid black;
        height: 460px;
        width: 100%;
        margin: 20px;
        padding: 9px;
    }
    .c b{
        color: blue;
        /* margin-left: 120px; */
    }
    .c img{
        width: 100%;
    }
    .d{
        border: 2px solid black;
        height: 460px;
        width: 100%;
        margin: 20px;
        padding: 9px;
    }
    .d b{
        color: blue;
        margin-left: 120px;
    }
    .d img{
        width: 100%;
        height: 320px;
    }
    .e{
        border: 2px solid black;
        height: 460px;
        width: 100%;
        margin: 20px;
        padding: 9px;
    }
    .e b{
        color: blue;
        margin-left: 120px;
    }
    .e img{
        width: 100%;
    }
    .f{
        border: 2px solid black;
        height: 460px;
        width: 100%;
        margin: 20px;
        padding: 9px;
    }
    .f img{
        width: 100%;
        height: 320px;
    }
    .f b{
        color: blue;
        margin-left: 120px;
    }
    .op{
        border: 2px solid black;
        height: 460px;
        width: 100%px;
        margin: 20px;
        padding: 9px;
    }
    .op img{
        width: 100%;
        height: 320px; 
    }
    .op b{
        color: blue;
        /* margin-left: 120px; */
    }
    .h{
        border: 2px solid black;
        height: 460px;
        width: 100%;
        margin: 20px;
        padding: 9px;
    }
    .h img{
        width: 100%;
        height: 320px;
    }
    .h b{
        color: blue;
        /* margin-left: 120px; */
    }
    .i{
        border: 2px solid black;
        height: 460px;
        width: 100%;
        margin: 20px;
        padding: 9px;
    }
    .i img{
        width: 100%;
        height: 320px;
    }
    .i b{
        color: blue;
        /* margin-left: 120px; */
    }
    .j{
        border: 2px solid black;
        height: 460px;
        width: 100%;
        margin: 20px;
        padding: 9px;
    }
    .j img{
        width: 100%;
        height: 300px;
        margin-top: 15px;
    }
    .j b{
        color: blue;
        /* margin-left: 120px; */
    }
    .flex{
        /* display: flex;
        flex-wrap: wrap;
        margin-top: 20px; */
        flex-direction: column;
    }
    
    .g{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }
    .ak{
        background-color: black;
        width: 340px;
        height: 500px;
        border-radius: 50px 50px 10px 10px;
        color: white;
    }
    .ak h1{
        text-align: center;
        padding: 5px;
        margin-top: 30px;
    }
    .ak h3{
        text-align: center;
        font-style: inherit;
        font-size: 30px;
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .icons a img{
       width: 70px;
       margin-left: 30px;
       cursor: pointer;
    }
    /* .circle a img{
        margin-right: 200px;
    } */
    /* .cv a img{
        width: 70px;
        height: 70px;
        margin-top: -110px;
        margin-left: 200px;
    } */
    
    .rr{
        margin-right: 27px;
    }
    .zzz{
        display:inline-block;
        margin-top: 28px;
        /* margin-left: 20px; */
    }
    .rahil{
        /* margin-left: 20px; */
        margin-top: 15px;
    }
    .ic{
        position: fixed;
    }
}